<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg bg-body-tertiary py-3">
  <div class="container">
      <a class="navbar-brand" href="/">Hello, <%= current_user.first_name %> <%= current_user.last_name %></a>

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto text-center text-lg-start">
        <li class="nav-item">
          <% if current_user.has_role?("admin") %>
            <a class="nav-link active" aria-current="page" href="/admin/dashboard">Dashboard</a>
          <% end %>
          <% if current_user.has_role?("superadmin") %>
            <a class="nav-link active" aria-current="page" href="/super_admin/dashboard">Dashboard</a>
          <% end %>
        </li>
      </ul>

      <div class="d-flex align-items-center ms-lg-4">
        <div id="authButtons">
          <% if user_signed_in? %> 
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary mx-2" %>
          <% else %>
            <a href="/sign_in" class="btn btn-link text-dark">Sign in</a>
            <a href="/sign_up" class="btn btn-dark">Create Account</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="py-6 bg-body-tertiary mt-12 hero-section flex items-center justify-center" style="padding-top: 100px; padding-bottom:100px">
  <div class="container">
    <div class="flex flex-col items-center justify-center text-center rounded-lg p-8 mt-8">
      <div class="w-50 mx-auto">  
        <h1 class="display-4 fw-bold text-dark">Scan, Order & Enjoy The Future of Contactless Dining!</h1>
        <p class="mt-3 text-muted">
          No more waiting for menus or servers! Fast, easy, and hassle-free dining at your fingertips! All from your phone.
        </p>
        
        <div class="d-flex justify-content-center align-items-center gap-4 mt-4">
          <div class="text-center">
            <p class="fs-2 fw-semibold text-dark mb-0"><%=@users_count%></p>
            <p class="text-muted">Active Users</p>
          </div>
          <div class="vr mx-3 d-none d-sm-block" style="height: 50px;"></div>
          <div class="text-center">
            <p class="fs-2 fw-semibold text-dark mb-0"><%=@restaurant_count%></p>
            <p class="text-muted">Registered Restaurants</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
